* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #DDD;
}

summary {
    cursor: pointer;
}

li {
    list-style-type: none;
    border-bottom: 1px solid rgba(136, 0, 51, 0.33);
}

input, textarea, select {
    padding: 0.33em;
    border-radius: 0.25em;
    border: 0;
    display: block;
}

button, input[type='submit'] {
    padding: 0.5em;
    background-color: #803;
    color: #FFF;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    color: hsl(338, 100%, 85%);
    &:hover {
        color: hsl(338, 100%, 100%);
    }
}

header {
    background-color: #803;
    color: #FFF;
    position: sticky;
    top: 0;
    padding: 0.5em 2em;
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    * {
        display: inline-block;
    }
    a {
        color: hsl(338, 100%, 85%);
        text-decoration: none;
        &:hover {
            color: hsl(338, 100%, 100%);
        }
    }
    .user-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #803;
        right: 0;
        padding: 0.5em 2em;
        a {
            line-height: 2em;
            text-align: right;
        }
    }

}

main {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    h1 {
        margin-bottom: 0.5em;
    }
    .posts {
        /* margin: 0 2em; */
        li {
            padding: 1em;
            &::marker {
                font-size: 1.5em;
            }
            &.sig-ok {
                list-style-type: '✓';
                &::marker {
                    color: green;
                }
            }
            &.sig-fail {
                list-style-type: '✗';
                background-color: #FDD;
                &::marker {
                    color: red;
                }
            }
        }
        h3, input[name='title'] {
            display: block;
        }
        .post-info {
            margin: 0 0 1em;
            color: rgba(0,0,0,0.5);
            font-size: 0.9em;
        }
        .body {
            margin: 1em 0;
        }
        .signature {
            margin: 1em 0;
        }
        details {
            font-size:0.9em;
            font-family: sans-serif;
            color: rgba(0,0,0,0.67);
        }
        details pre {
            max-width: 39em;
            text-wrap: wrap;
            overflow-wrap: break-word;
            background-color: rgba(0, 0, 0, 0.08);
            padding: 1em;
        }
        summary {
            cursor: pointer;
            color: rgba(0,0,0,0.5);
        }
        form {
        }
        input#title {
            font-family: serif;
            font-weight: 600;
            font-size: 1.1em;
            border: 1px solid #DDD;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.5);
        }
        textarea#body {
            font-family: serif;
            font-size: 1em;
            border: 1px solid #DDD;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.5);
        }

    }
    .new-post {
        margin: 2em 1em;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        th {
            text-align: left;
        }
        tbody td {
            padding: 0.5em 0;
            border-bottom: 1px solid rgba(136, 0, 51, 0.33);
        }
        select {
            width: 100%;
        }
    }
}